<% if !@fan.team %>
<%= link_to "Create your team", new_fan_team_path(@fan) %>
<% end %>


<% if @fan.team %>
    <h2><%= @fan.team.team_name %></h2>
     <div id="container">
       <div class="box">
     <% @fan.team.queens.each do |queen| %>
    <%= image_tag(queen.image_url, height: '150', width: '150') %>
    <%= link_to queen.name, queen %>
    <h2><%=  queen.total_score%></h2>
  <% end %>
 <% end %>


<%= @team_total %>

<%= link_to "Edit Team", edit_fan_team_path(@fan) %>

 </div>
   </div>
