<!DOCTYPE html>
<html lang="en">
  <head>


    <title>Dragger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

    <h4 class="header">
      <div class="title">
        <%= link_to 'Dragger', fans_path %>
        </div>
      <span>
          <% if !logged_in? %>
            <button class="button">
              <%= link_to 'Signup', signup_path %>
            </button>
            <button class="button">
              <%= link_to 'Login', login_path %>
            </button>
          <% else %>
            <span>Welcome, <%= current_user.name.capitalize %></span>
            <button class="button">
              <%= link_to "Log Out", logout_path, method: "post" %>
            </button>
            <button class="button">
              <%= link_to "My Account", fan_path(current_user.id) %>
            </button>
          <% end %>
        </span>
    </h4>
  </div>

</nav>

    <% if flash[:errors] %>
      <% flash[:errors].each do |e|  %>
        <p style="color: red"> <%= e %> </p>
      <% end %>
    <% end  %>


    <%= yield %>
    <!-- Latest compiled and minified CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
